body{
  margin: 0px;
  background: #000000 url('https://img.tmstor.es/michaeljackson/store_bg.png') no-repeat center top / cover fixed;
}


/*Genaral Styling*/
        /*Dropdown*/
        div.dropdown{
          display: inline-block;
          background-color: rgba(181, 190, 3, 0.652);
          cursor: pointer;

        } 
        div.dropdown:hover div.dropdowncontent{
          display: block;
        }
        /*i*/  
        i{
          text-align: center;
          padding: 10px;
        }
        /*Drop Down Content*/
        div.dropdowncontent{
          display: none;
          position: absolute;
          background-color: rgb(23, 23, 26);
          top: 46px;
          left: 110px;
          z-index: 1;
        }
        div.dropdowncontent a{
          display: block;
          padding: 12px 20px;
          color: blue;
          

        }
        div.dropdowncontent a:hover{
          background-color: blanchedalmond;
        } 

/*Tobblackbar*/
div.topblackbar{
  width: 100%;
  height: 25px;
  background-color: black;
}
/*Header*/
  /*Top Navbar*/
  div.topnavbar{
    background-color: #DFDFDF;
    width:100%; 
    padding: 10px;
    position: relative;

   }
   /*Left Nav*/
   div.leftnav{
     margin-left: 100px;
   }
      /*Dropdown*/
           /****Inherit from genaral****/
      /*i*/  
          /****Inherit from genaral****/
      /*Official Site*/  
        a{
              display: inline;
              text-decoration: none;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color: #000;
          }
        /*Drop Down Content*/
           /****Inherit from genaral****/
   /*Sub Navbar*/
    div.rightnav div.subnavbar {
      position: absolute;
      right:230px ;
      top: 0px;
    }

    div.rightnav div.subnavbar ul li{
      display: inline;
      margin: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    div.rightnav div.subnavbar ul:hover{
      cursor: pointer;
    }

       /*Currency Drop*/
    div.currencydrop{
      position: absolute;
      top: 10px;
      right: 150px;
      
      }

      div.currencydrop div.dropdowncontent{
        display: none;
        position: absolute;
        background-color: #1c1973;
        top: 35px;
        left: 0px;
          
      }
      
      div.currencydrop div.dropdowncontent a{
        padding-right:0px ;
        color:white;
        padding-left: 50px;
        margin: 0px;
        padding-top: 0px;
      }
      div.currencydrop div.dropdowncontent a i{
        margin: 0px;
        padding:7px;
        margin-left: 5px;
      }
      div.currencydrop div.dropdowncontent a p{
        margin: 0px 0px 0px 10px;
        
      }
        
      div.currencydrop div.dropdowncontent a:hover{
        background-color: #1c1973 ;
      }
/*Banner*/
   /*Logo*/

   div.banner{
     margin-top: 0px;
     padding: 30px;
   }
      /*Logo Image*/
      div.banner div.logo a{
        height: 100px;
        
      }
      div.banner div.logo a img{
       display: block;
        margin-left: auto;
        margin-right: auto;
      }
    /*Links*/
    div.banner div.links{
      text-align: center;
    }
    div.banner div.links ul {
      margin: 0px;
    }
    div.banner div.links ul li{
      
      display: inline;
      margin: 0px 10px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    div.banner div.links ul li a{
      color: white;
    }
      /*Hover*/
      div.banner div.links ul li a:hover{
        color: goldenrod;
      }

  
