body{
  margin: 0px;
  background: #000000 url('https://img.tmstor.es/michaeljackson/store_bg.png') no-repeat center top / cover fixed;
  zoom: 80%;
}


/*Genaral Styling*/
        /*Dropdown*/
        div.dropdown{
          display: inline-block;
          background-color: rgba(181, 190, 3, 0.652);
          cursor: pointer;

        } 
        div.dropdown:hover div.dropdowncontent{
          display: block;
        }
        /*i*/  
        i{
          text-align: center;
          padding: 10px;
        }
        /*Drop Down Content*/
        div.dropdowncontent{
          display: none;
          position: absolute;
          background-color: rgb(23, 23, 26);
          top: 46px;
          left: 110px;
          z-index: 1;
        }
        div.dropdowncontent a{
          display: block;
          padding: 12px 20px;
          color: blue;
          

        }
        div.dropdowncontent a:hover{
          background-color: blanchedalmond;
        } 

/*Tobblackbar*/
div.topblackbar{
  width: 100%;
  height: 25px;
  background-color: black;
}
/*Header*/
  /*Top Navbar*/
  div.topnavbar{
    background-color: #DFDFDF;
    width:100%; 
    padding: 10px;
    position: relative;

   }
   /*Left Nav*/
   div.leftnav{
     margin-left: 100px;
   }
      /*Dropdown*/
           /****Inherit from genaral****/
      /*i*/  
          /****Inherit from genaral****/
      /*Official Site*/  
        a{
              display: inline;
              text-decoration: none;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              color: #000;
          }
        /*Drop Down Content*/
           /****Inherit from genaral****/
   /*Sub Navbar*/
    div.rightnav div.subnavbar {
      position: absolute;
      right:230px ;
      top: 0px;
    }

    div.rightnav div.subnavbar ul li{
      display: inline;
      margin: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    }
    div.rightnav div.subnavbar ul:hover{
      cursor: pointer;
    }

       /*Currency Drop*/
    div.currencydrop{
      position: absolute;
      top: 10px;
      right: 150px;
      
      }

      div.currencydrop div.dropdowncontent{
        display: none;
        position: absolute;
        background-color: #1c1973;
        top: 35px;
        left: 0px;
          
      }
      
      div.currencydrop div.dropdowncontent a{
        padding-right:0px ;
        color:white;
        padding-left: 50px;
        margin: 0px;
        padding-top: 0px;
      }
      div.currencydrop div.dropdowncontent a i{
        margin: 0px;
        padding:7px;
        margin-left: 5px;
      }
      div.currencydrop div.dropdowncontent a p{
        margin: 0px 0px 0px 10px;
        
      }
        
      div.currencydrop div.dropdowncontent a:hover{
        background-color: #1c1973 ;
      }
/*Banner*/
   /*Logo*/

   div.banner{
     margin-top: 0px;
     padding: 30px;
   }
      /*Logo Image*/
      div.banner div.logo a{
        height: 100px;
        
      }
      div.banner div.logo a img{
       display: block;
        margin-left: auto;
        margin-right: auto;
      }
    /*Links*/
    div.banner div.links{
      text-align: center;
    }
    div.banner div.links ul {
      margin: 0px;
    }
    div.banner div.links ul li{
      
      display: inline;
      margin: 0px 10px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    div.banner div.links ul li a{
      color: white;
    }
      /*Hover*/
      div.banner div.links ul li a:hover{
        color: goldenrod;
      }
/*Gradient Colour Bar After The Banner*/
  div.Gradiantbar{
    height: 5px;
    background-image: radial-gradient(circle,rgb(223 223 223) 70%,rgb(128 128 128) 90%);
  }
/*The Large Banner With The Clothe Wallpaper*/
  
  div.Largeposter{
    position: relative;
  }

   /*Bilboard */
        div.Billboard {
          height: 800px;
          background-image: url(https://img.tmstor.es/michaeljackson/Hero4.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
        }

  /*Button Of Shop Now*/ 
        div.Largeposter div.Button{
         position: absolute;
         top: 600px;
         left: 200px; 
       }

       div.Largeposter div.Button button{
         padding: 20px;
         font-size: 20px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         background-image: radial-gradient(circle,rgb(179, 175, 199) 60%,rgb(158, 144, 230) 90%);
         border: none;
         font-weight: bolder;
         text-transform: uppercase;
      
       }
       div.Largeposter div.Button button:hover{
         box-shadow: 10px 8px 10px #16141b;;
       }
  /*Forward and backward buttons*/
  div.arrow{
    width: 15%;
    font-size: 60px;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    height: 100%;
    color: rgba(255, 248, 220, 0.233);
    padding-top: 20%;
    
  }
  div.arrow.left:hover{
    background-image: linear-gradient(to right,rgba(34, 34, 34, 0.261) 10%,rgba(34, 34, 34, 0));
  }
  div.arrow.right:hover{
    background-image: linear-gradient(to left,rgba(34, 34, 34, 0.261) 10%,rgba(34, 34, 34, 0));
  }
  div.arrow i{
    position: absolute;
    top: 40%;
  }
  div.right i{
    right: 5%;
  }
  div.left i{

  left: 5%;
  
  }

  div.arrow i:hover{
    font-size:55px;
    color: cornsilk;
   
  }
  div.left{
    position: absolute;
    left: 0;
  }

  div.right{
    position: absolute;
    right: 0;
    
  }

